@use "../../presets" as *;
@use "../../mixins" as *;
.about {
  background-color: $color-gray-light;
  @include lg-min {
    padding: 100px 0;
  }
  @include lg-md {
    padding: 80px 0;
  }
  @include md {
    padding: 60px 0;
  }

  &__container {
    @extend %container;
    display: grid;
    @include sm-min {
      grid-template-columns: 1fr 270px;
    }
    @include sm {
      grid-template-columns: 1fr;
    }
    @include lg-min {
      gap: $gap-x5;
    }
    @include lg-sm {
      gap: $gap-x4;
    }
    @include sm {
      gap: $gap-x3;
    }
  }
  &__content {
    & h2 {
      margin-top: 0;
      color: $color-primary;
      font-weight: 700;
      font-family: $font-header;
      @include lg-min {
        font-size: 2.5rem;
        letter-spacing: 4px;
        line-height: 48px;
      }
      @include lg-md {
        font-size: 2rem;
        letter-spacing: 3px;
        line-height: 40px;
      }
      @include md {
        font-size: 1.5rem;
        letter-spacing: 2px;
        line-height: 32px;
      }
      @include sm {
        text-align: center;
      }
    }
    & p {
      letter-spacing: 1px;
      line-height: 24px;
      color: $color-gray;
      font-weight: 400;
      font-family: $font-main;
      @include md-min {
        font-size: 1.125rem;
      }
      @include md {
        font-size: 1rem;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &:first-of-type {
        position: relative;
        &::after {
          position: absolute;
          @include sm-min {
            content: "";
          }
          top: 0;
          @include lg-min {
            right: -50px;
          }
          @include lg-sm {
            right: -25px;
          }
          width: 1px;
          height: 200px;
          background-color: rgba($color-gray-dark, 0.15);
        }
      }
    }
  }
  &__image {
    display: grid;
    align-items: center;
    justify-content: center;
    & img {
      height: 480px;
      width: 100%;
    }
  }
}
